@tailwind base;
@tailwind components;
@tailwind utilities;

/*** Main color ***/
:root {
  --main-color: rgb(2, 15, 30);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Proza Libre", sans-serif !important;
  font-weight: 600;
  color: var(--main-color);
  overflow: hidden !important;
}

/*** Changing the colors depending on the state (derived by className at #main) ***/
#main.idle {
  --primary-color: rgb(19, 109, 39);
  --primary-bg: rgb(61, 252, 102);
  --secondary-bg: rgb(255, 255, 255);
}
#main.work {
  --primary-color: rgb(89, 30, 22);
  --primary-bg: rgb(230, 85, 67);
  --secondary-bg: rgb(255, 209, 179);
}
#main.short {
  --primary-color: rgb(12, 54, 75);
  --primary-bg: rgb(42, 161, 219);
  --secondary-bg: rgb(163, 215, 255);
}
#main.long {
  --primary-color: rgb(55, 32, 99);
  --primary-bg: rgb(152, 104, 250);
  --secondary-bg: rgb(255, 212, 255);
}

/*** Some util rules ***/
.primary-bg {
  background-color: var(--primary-bg);
}
.primary-color {
  color: var(--primary-color);
}
.main-border {
  border: 4px solid var(--main-color);
}

/*** The time list styles ***/
#time-step-list-container {
  overflow-y: scroll !important;
  direction: rtl;
  width: 340px;
}
#time-step-list {
  direction: ltr;
}

/*** The time block styles ***/
/*? For Reference ?*/
/*<div className="time active work-time">
    <div>
      <li>
        <p>25-min work</p>
      </li>
    </div>
    <div className="progress">
      <li>
        <p>25-min work</p>
      </li>
    </div> 
  </div>     
*/

.time {
  height: 52px;
  width: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 0.4rem 0rem;
  position: relative;
  user-select: none;
}

.time p {
  display: inline;
  width: 100%;
  margin: 0 0 0 -1.25rem;
}

.time div {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}

.time.active div {
  background-color: rgba(255, 255, 255, 0.4);
}

.time div li {
  padding: 0.5rem 0.75rem;
}

.time div.progress {
  position: absolute;
  top: 0px;
  background-color: var(--secondary-bg);
  color: var(--primary-bg);
  overflow: hidden;
  white-space: nowrap;
  width: 0%;
}

.time.active .progress {
  /* The --time variable is taken from inline style */
  animation: widthAnim var(--time) linear 0s 1 forwards;
}

.time.finished .progress {
  width: 100%;
}

@keyframes widthAnim {
  to {
    width: 100%;
  }
}

/*** The Scrollbar related styles ***/
#time-step-list-container::-webkit-scrollbar {
  width: 16px;
}

#time-step-list-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

#time-step-list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  background-color: var(--primary-color);
}

/*** The styles for new-steps coming in ***/
.time.new.work {
  animation: newWorkBlock 0.5s ease-out 0s 1 forwards;
}

.time.new.short,
.time.new.long {
  animation: newBreakBlock 0.5s ease-out 0s 1 forwards;
}

@keyframes newWorkBlock {
  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes newBreakBlock {
  0%,
  20% {
    transform: translateY(300px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
  }
}
/*** The styles of loop-input ***/
#loopCount {
  width: 200px;
  height: 54px;
  border-radius: 20px;
  background-color: var(--primary-bg);
  font-size: 26px;
  line-height: 32px;
  padding: 0.25rem 1rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}

/* The incrementor and decrementor button style */
.loopButtons {
  display: flex;
  flex-direction: column;
}

.loopButton {
  border: none !important;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loopButton:focus,
.loopButton:active {
  border: none !important;
  outline: none !important;
}

.loopButton:disabled {
  --main-color: rgba(2, 15, 30, 0.5);
}

.arr {
  height: 0;
  width: 0;
  border: 9px solid transparent;
}
#up .arr {
  border-top: 0;
  border-bottom: 15px solid var(--main-color);
  margin-bottom: 1px;
}
#down .arr {
  border-bottom: 0;
  border-top: 15px solid var(--main-color);
  margin-top: 1px;
}
/*** The styles for start button ***/
#startButton:hover {
  background-color: rgba(61, 252, 102, 0.5);
}
#startButton:disabled {
  background-color: rgba(61, 252, 102, 0.7);
  color: rgb(2, 5, 15, 0.7);
  border-color: rgb(2, 5, 15, 0.7);
}
