@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  font-family: "Proza Libre", sans-serif !important;
  font-weight: 600;
  color: #020f1e;
  overflow: hidden !important;
}

/*** Changing the colors depending on the state (derivec by className at #main) ***/
#main.idle {
  --primary-color: #136d27;
  --bg-color: #3dfc66;
}
#main.work {
  --primary-color: #591e16;
  --bg-color: #e65543;
}
#main.short {
  --primary-color: #0c364b;
  --bg-color: #2aa1db;
}
#main.long {
  --primary-color: #372063;
  --bg-color: #9868fa;
}

/*** Some util rules ***/
.primary-bg {
  background-color: var(--bg-color);
}
.primary-color {
  color: var(--primary-color);
}

/*** The time list styles ***/
#time-step-list-container {
  overflow-y: scroll !important;
  direction: rtl;
  width: 320px;
}
#time-step-list {
  direction: ltr;
}

/*** The time block styles ***/
.time {
  width: 300px;
  position: relative;
}
.time li {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 0.5rem 0.75rem;
  margin: 0.25rem 0rem;
  border-radius: 0.5rem;
}

.time li p {
  display: inline;
  margin: 0 0 0 -1.25rem;
}

/* Progress period depending on block-type */
.time.work-time {
  --time: 25s;
}
.time.short-time {
  --time: 5s;
}
.time.long-time {
  --time: 30s;
}

/*** The Scrollbar related styles ***/
#time-step-list-container::-webkit-scrollbar {
  width: 16px;
}

#time-step-list-container::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

#time-step-list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  background-color: var(--primary-color);
}
